menu "MicroHydros configuration"

    config MICROHYDROS_WIFI_SSID
        string "Wi-Fi SSID"
        default ""

    config MICROHYDROS_WIFI_PASSWORD
        string "Wi-Fi password"
        default ""

    config MICROHYDROS_MQTT_BROKER_URI
        string "MQTT broker URI"
        default ""

    config MICROHYDROS_MQTT_USERNAME
        string "MQTT username"
        default ""

    config MICROHYDROS_MQTT_PASSWORD
        string "MQTT password"
        default ""

endmenu
